.bb-select-date-picker{
	display: inline-block;
	position: relative;

	.select{
		width: 100%;
		padding-right: 40px;
		box-sizing: border-box;
	}

	.btn-datepicker{
		width: 38px;
		overflow: hidden;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}
}
